.flex {
    position: relative;
}

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
    animation: spinAndChangeColor 5s linear infinite;
}

@keyframes spinAndChangeColor {
    0% {
        transform: rotate(0deg);
        background-color: red;
    }

    33% {
        transform: rotate(90deg);
        background-color: orange;
    }

    66% {
        transform: rotate(180deg);
        background-color: green;
    }

    100% {
        transform: rotate(270deg);
        background-color: red;
    }
}