.flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content {
    width: 80%;
}

.side-bar {
    width: 20%;
}